<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburgers="{{devoured}}">
		{{#if devoured}}EATEN!{{else}}DEVOURED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>